@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Hi+Melody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&family=Hi+Melody&family=Ubuntu:wght@300&display=swap');

body{
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0PDQ8NDw0NDg0PDg0NDQ4NDg8PDg0QFhUWFyARFRUYHikhJBolHRcVITEhJikrLi4uGB8zOjYtNzQtLisBCgoKDg0OGxAQGyslICUtLzUtLS8rLS0tLS8tLy0rLS0tMC0tLS0tLS8tLS0tLy0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAOEA4QMBEQACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAAAwQBAgYFB//EADMQAAICAQMCBQIEBAcAAAAAAAABAgMRBBIhBTEGE0FRYSJxBzKBkRRyobEjUsHR4fDx/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAIBAwT/xAApEQEBAQACAQQBAgYDAAAAAAAAAQIDETEEEiFBURMiYXGRwfDxFDJC/9oADAMBAAIRAxEAPwD7aS0AAAAAAAAAAAFbX6+jTwdt91VFa7zunGEf3Ykt8Mtk8pNNfC2uFtc4zrsjGyucXmM4yWVJfDQJe0oaAAAAAAAAAAAAAAAAAAAAAAc/0LxjoNbqdRo67JQ1WntuqnTalGVirk4uyvlpxyvuuMpFXFk7RNy3p0BKwAAAAAPA8Y+EtL1XTqm9ONkNzovhjzKZPGcZ7p4WU++F64ZWd3N+EbxNT5e1o9PGqqumP5Kq4VR/likl/YmqnwlDQABBqtXXVt3tpSbSaTa/XBlsjpx8OuTv2/SWE1JKSeU0mn7o1Fll6rYMAAGl0HKMoqTi2mlJd0/cyqxZNS2dq/TabYwfmylKbb4ct21fBmZft19RvGtfsnUWynAAAAAAAgAAAB5nSvD+h0k7bdPpq67bpzsut5lbOUpOTzOWXjLfHZG3VvlkzI9MxoBrbu2y2/m2vbn3xwY3PXc78K3Tbrpw3WRUf8uE038tGZtvl29RjjxrrF7WynAAAAAAABFqNPCzCmsqMtyXpn5Ms7Xjk1jv2pTUAAAAAAAAHL+L/G+j6ZbpqLfru1Fle6Ckl5FDltd8/hc4Xrh+zLzi6Rvcz5dQQsAAAK+vvddblFZlworDfLJt6jrwcc3uS+G+ltc4KTi4t94tNYf+xsvcTyY9mrO+0pqAAAAAAAAABrbKSjJxjukk3GOcbn7ZJ3bM25ndbOu/lS6R1CWojKTq8uKainu3bn6+i7cHl9J6nXPm6uep/P8Ar9R05eOYvXfa+exyAAAABpdbGEXOclGK5bfZEb3nGfdq9Rslt6jaMk0mnlNJp+6Kl7ncYyaAAABV13TdNqFtv09F6xjF1ULOPb6kJbPDLJfK0kGgAAAAAAAAAAAAAAAABiMUuEkly+FgySTwMmgAAAAKvUNBXfFRnuWG3FxeMP7djz+o9Njnz1rtfHyXF7ibT1bIQhlvZGMcvu8LGTrx49mJn8ROr3bUhbAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABxvg3q3W79brKNdTpa9PpZOlWVU21yutbTTg5TacdnL/mj8nTczJOnPN1b8uyOboAAAAAAApa7WyrnCCq3b8KMt2FnOMdibrp6OHgzyZurrrpdKecAAAEnhNvsllgc/4R8Y6HqtblppyVkEpW6e1KN1afZtLKa+U2itYufKc7mvDoCVAADEJJrKaa908oxtlnxWTWABAeV4i8RaPp1Kv1dvlxk9tcVFynbLGdsYr1/obnN14TrUzO6tdH6hDVaWjV1qca76oXQjNJTUZLKTSbWTLOr02XudrYaAAAAAAAAAAGIyT5TTXuuTCyzyyaABpPuk8cr4YOwAAAAYkk00+zTT+wFDonQ9HoavJ0mnror4zsTcp49ZTeZSfy2zbq3yySTw9AxoBFqqI2QcJZSfqnhoyztfHyXGvdGui0/lVxrznGecYzltiTqN5uT9Td0nNcwABV6n07T6qmWn1FULqZ/mhNZX3Xs17rkS2eGWS/Fb6DR16eirT1R2001wpqjly2wilFLL5fC7sW9tTgAAAAAAAAAEWr06sg4OUo59YvD/APPgyztfFyXj17pGuh0/lVxrynjPKWM5bYk6nSubk/U3dJzXIAAAAAAAAAAAAAAAAAAAAAAxOSScnwkm2/ZIy2Sd0k7aUXwsipwkpRfZonj5M8mfdm9xus3N6qQtgAAAAAAAAAAAAFF6Oz+Ijb5m6C3fS+HDKawvQjq99vT+tj9G46+V4t5gAAAAAAAAAAAAAADS6tThKDbSlGUW13WVgnefdm5/LZer2g0Ggqoi4wT5xuk3lywceD03HwTrCt8mt3urR6EAAAAAAAAAAAAAAAAAAAAAAAAAAAYlJLu0uy54Mtk8jJoAAAAAAAN8Z/t3MFLQdTqvcowU/pSb3Rwl8d+55uD1eOe2Y7+PzHTfFrHldPU5gACtq9dXU0p7vqWU1HKJupHbi4N8ktysplOIAAAAAAAByH4iS65GmqfSZxTc1XfGNMLLluaSsjuTW1evHC57Jl8ft/8ATnye6T9rrKISjCMZS3zUYqU8Jb5JcywuOXyQtuGgAAgAFDq3T5XqMVb5ai9zW3O5+j7+h4/V+m1zySa66/g68XJMXvrterTUUm8ySSbxjL98Hqz3JO3K+fhkoAAAAAAAR06eENzhFR3yc5Y9ZP1OeOPGO/bOu73W3VvlIdGAACO2iEnFyim4PdH4ZnSs71mWS+UhqQABrKyKaTaTlxFN4y/gxszb8yNjWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABV1uijc4bpNKLbwvXOPX9CbO3bh57xd9TysxjhJLskksvLNcre72yawAAAAAAAAAAAAAAAAaXXQhHdOUYx4WZPCI3vOJ7tXqNktvUKboTW6E4zjnGYtNZ9hjkzud5vc/gXNnxW5bAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFqtPG2uVcu0lj5Xyvsc+XjnJi419qzq5vcY0emjVXGuPaK7+sn7szh4s8WJjP0b1dXupjqkAj1FyrhKcu0Vn7/BlvS+PF3qZhpr42QU49mv2fsJezkxcauakNQAAItPqa7N2ySkoycJNe6OfHy45O/be+r0rWbnylOiQAAAAAAEWqqdlc61OdbnCcFZW8Trysbov3XcMrlvw96L1PSw1Muo6y/UWTucKY2XO2EaYNpWrLeHPOceiUc8l8mpfDnx51O+664h1AAADzdVdqlqYQrjGVUoJy3Re2PLz9S9e3B4eXk9ROeZxO82ff1+fl2znjuLdeXpHucQDjPxJ8U6/ptMZ6TQ+epJ7tTPdOmiWeIyhB7ufdtLld3wdOPE15rnybufEdmc3QAAAAADWyuMliUVJd8NZRjc6ub3L0V1xisRiorviKSQNaur3b22NYAa2QUouL7STi8Nrh/KJ1malzfsl6vatoOn10bvL3JSw2pPKWPb9zjwemxwd+z7Xvk1vytnoQAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAVuo6eVle2LxLdFpttYwydTuO3ByTG+9eEunrcYKMpubXeUu7NiOTU1q2TpIagAMwVen9Qqvi3B8r80ZcSXz9jh6f1PHzzvH9PtfJx6xflaPQgAIAAAAAAEepg5VzivzOMkucc4MvhfHZNS38otBTZCGLJ75fvt+M+pkl+18+8a13idRZKcQA2uOVz2+TOwNAAAAAAAEWo1VdePMnGG54W54TOfJy44/+96VnOteI3hOMkpRalF8pp5TX3KzqancvcTZZ8VsUAAAAASWU0+zWGZZ38CDS6SqpYrrjD3aXL+77nPi4OPinWJ0rW9a81OdUgADWyajFyabUU5NRTk3hZ4S7sDwPDHjLQ9TnbDSu6TpjGVjsplXFbm0ll+vD4+CtYufKM7mvDoSVgAAAAAAKHVunu/y0p7FCTk2k93b0+Tx+r9Nef2yXrq/5068XJ7O/hdrjtio7nLCS3S5lL5fyerM6knfblb3e2xQAcf40q67LWaGXS9saqldPUSutjHT2NuKVdkfzNYUuyeM+jLx7er7nPc13OnXwzhZwpYWUnlJ/DIdGQAFbqGihfBQnnCkpJrvx/wAZRw9R6fPPn26/K+PkuL3E8IKKUUkopJJLskvQ7ZzMzqeEW9/NbGgAAAAAAAAAAAKPS+j6XSu+WnpjU9RdLUX7c/XY0svnsvhccs223yySTwvGNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPC8LeLNF1ONj003vqnKFlVmFZFZaU8JvMZYyn+nfgrWLnyjO5rw90lYAAAAAAAAAAAAAAAAAAAHG+Ooded2lXTrVDS2W006ny6oPUU7p4drc8rZtfok1j1zxePb9ue/d8dOzIdGAAAAAAAAMTimnF9mmn9mB5vRfD2g0MXHSaWmjKUZShH/ABJpekpv6n+rNurfKZmTw9MxQAAAAAAAAAAAAAAAAAAAAAAAAEBU0vUqLZOFc90km2nCccJceqPNxer4uXXtxfn+V/vHTXFrM7sWz0uYAAAAAAAAAAAAEWrc1VY68eYq5uvKyt+HjK++BGVzP4e9d6lrtM7tbo46dYj5Vsd0P4jvl+VLlJcc55zwXyZkvwjj1rU+Y6sh0AAAAAAAAAAAAAAEBBp9HXXKycY4lZLdN/6L47v9Tjx8GOPWtZnzfKtbupJfpOdktZ2RjjdJLL2rLSy/ZfJN1J5pJa2KAAAAAAMSWU1nHHdd18mXwPP6Xpb652u2yVmdqrbllNcvOPT0PH6Xh5ca1eTXf4/19O3LvOpPbOnontcQAAAAAPO6tr7KnUq65WOUm5qMXJ7V6LHrz/Q8Xq/Ub4rmYz335+O/h24uOa77vT0ISyk8NZSeGsNfDR7Je524smgBR1190ZwUK5ShlObS3ZXsRbfp6eHj49Zvuvz9LxbzAADWNkW2k03F4kl6P5Mbc2SW/bY1gAQAABS6r0/+IhGDnsUZqbwstrDWF+55fVem/wCRmZt66vbpxcn6d7WqKlCEYJyaiksyeZP7s74x7MzM+vyi3u9ty2AHK/iHZ1paRR6TXGVkt3nWKUf4iuPGPKjLht885yscLnKvHt7/AHOe/d1+10egnOVFUrIuFkqq5WRfeM3FNxfynkirnhOGgAAAAAAAAAAAAAAAAAAp6TQKqcpqc5OS+pSxy85z2/7kmZ6d+X1F5MzNk+FwpwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAH/9k=');
}


nav{
    background-color: darkgrey;
    color:white;
}
nav ul{
    display:flex;
    margin:0;
    padding:0;
    text-align: center;
}
nav ul li{
    padding:5px 20px;
    list-style: none;
    flex:1;
}

.right_intro{
    background-color: #F9F9F9;
    height: 300px;
    position: relative;
    margin:40px 50px 50px 10px;
    border-style: dashed double none;;


}

.my{
    height: 400px;;
    text-align: center;

}
img{
    width:600px;
    height:350px;
    padding:20px 20px 20px 60px;
    float: left;
}

.name{
    padding-top: 50px;
    text-align: left;
}
.title{
    font-family: 'Hi Melody', cursive;
    margin:3px;
    text-align: left;
    padding-left: 10px;
}
.site{
    padding-top: 20px;
    padding-left: 10px;

}
h3{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

.introduce{
        background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0PDQ8NDw0NDg0PDg0NDQ4NDg8PDg0QFhUWFyARFRUYHikhJBolHRcVITEhJikrLi4uGB8zOjYtNzQtLisBCgoKDg0OGxAQGyslICUtLzUtLS8rLS0tLS8tLy0rLS0tMC0tLS0tLS8tLS0tLy0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAOEA4QMBEQACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAAAwQBAgYFB//EADMQAAICAQMCBQIEBAcAAAAAAAABAgMRBBIhBTEGE0FRYSJxBzKBkRRyobEjUsHR4fDx/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAIBAwT/xAApEQEBAQACAQQBAgYDAAAAAAAAAQIDETEEEiFBURMiYXGRwfDxFDJC/9oADAMBAAIRAxEAPwD7aS0AAAAAAAAAAAFbX6+jTwdt91VFa7zunGEf3Ykt8Mtk8pNNfC2uFtc4zrsjGyucXmM4yWVJfDQJe0oaAAAAAAAAAAAAAAAAAAAAAAc/0LxjoNbqdRo67JQ1WntuqnTalGVirk4uyvlpxyvuuMpFXFk7RNy3p0BKwAAAAAPA8Y+EtL1XTqm9ONkNzovhjzKZPGcZ7p4WU++F64ZWd3N+EbxNT5e1o9PGqqumP5Kq4VR/likl/YmqnwlDQABBqtXXVt3tpSbSaTa/XBlsjpx8OuTv2/SWE1JKSeU0mn7o1Fll6rYMAAGl0HKMoqTi2mlJd0/cyqxZNS2dq/TabYwfmylKbb4ct21fBmZft19RvGtfsnUWynAAAAAAAgAAAB5nSvD+h0k7bdPpq67bpzsut5lbOUpOTzOWXjLfHZG3VvlkzI9MxoBrbu2y2/m2vbn3xwY3PXc78K3Tbrpw3WRUf8uE038tGZtvl29RjjxrrF7WynAAAAAAABFqNPCzCmsqMtyXpn5Ms7Xjk1jv2pTUAAAAAAAAHL+L/G+j6ZbpqLfru1Fle6Ckl5FDltd8/hc4Xrh+zLzi6Rvcz5dQQsAAAK+vvddblFZlworDfLJt6jrwcc3uS+G+ltc4KTi4t94tNYf+xsvcTyY9mrO+0pqAAAAAAAAABrbKSjJxjukk3GOcbn7ZJ3bM25ndbOu/lS6R1CWojKTq8uKainu3bn6+i7cHl9J6nXPm6uep/P8Ar9R05eOYvXfa+exyAAAABpdbGEXOclGK5bfZEb3nGfdq9Rslt6jaMk0mnlNJp+6Kl7ncYyaAAABV13TdNqFtv09F6xjF1ULOPb6kJbPDLJfK0kGgAAAAAAAAAAAAAAAABiMUuEkly+FgySTwMmgAAAAKvUNBXfFRnuWG3FxeMP7djz+o9Njnz1rtfHyXF7ibT1bIQhlvZGMcvu8LGTrx49mJn8ROr3bUhbAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABxvg3q3W79brKNdTpa9PpZOlWVU21yutbTTg5TacdnL/mj8nTczJOnPN1b8uyOboAAAAAAApa7WyrnCCq3b8KMt2FnOMdibrp6OHgzyZurrrpdKecAAAEnhNvsllgc/4R8Y6HqtblppyVkEpW6e1KN1afZtLKa+U2itYufKc7mvDoCVAADEJJrKaa908oxtlnxWTWABAeV4i8RaPp1Kv1dvlxk9tcVFynbLGdsYr1/obnN14TrUzO6tdH6hDVaWjV1qca76oXQjNJTUZLKTSbWTLOr02XudrYaAAAAAAAAAAGIyT5TTXuuTCyzyyaABpPuk8cr4YOwAAAAYkk00+zTT+wFDonQ9HoavJ0mnror4zsTcp49ZTeZSfy2zbq3yySTw9AxoBFqqI2QcJZSfqnhoyztfHyXGvdGui0/lVxrznGecYzltiTqN5uT9Td0nNcwABV6n07T6qmWn1FULqZ/mhNZX3Xs17rkS2eGWS/Fb6DR16eirT1R2001wpqjly2wilFLL5fC7sW9tTgAAAAAAAAAEWr06sg4OUo59YvD/APPgyztfFyXj17pGuh0/lVxrynjPKWM5bYk6nSubk/U3dJzXIAAAAAAAAAAAAAAAAAAAAAAxOSScnwkm2/ZIy2Sd0k7aUXwsipwkpRfZonj5M8mfdm9xus3N6qQtgAAAAAAAAAAAAFF6Oz+Ijb5m6C3fS+HDKawvQjq99vT+tj9G46+V4t5gAAAAAAAAAAAAAADS6tThKDbSlGUW13WVgnefdm5/LZer2g0Ggqoi4wT5xuk3lywceD03HwTrCt8mt3urR6EAAAAAAAAAAAAAAAAAAAAAAAAAAAYlJLu0uy54Mtk8jJoAAAAAAAN8Z/t3MFLQdTqvcowU/pSb3Rwl8d+55uD1eOe2Y7+PzHTfFrHldPU5gACtq9dXU0p7vqWU1HKJupHbi4N8ktysplOIAAAAAAAByH4iS65GmqfSZxTc1XfGNMLLluaSsjuTW1evHC57Jl8ft/8ATnye6T9rrKISjCMZS3zUYqU8Jb5JcywuOXyQtuGgAAgAFDq3T5XqMVb5ai9zW3O5+j7+h4/V+m1zySa66/g68XJMXvrterTUUm8ySSbxjL98Hqz3JO3K+fhkoAAAAAAAR06eENzhFR3yc5Y9ZP1OeOPGO/bOu73W3VvlIdGAACO2iEnFyim4PdH4ZnSs71mWS+UhqQABrKyKaTaTlxFN4y/gxszb8yNjWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABV1uijc4bpNKLbwvXOPX9CbO3bh57xd9TysxjhJLskksvLNcre72yawAAAAAAAAAAAAAAAAaXXQhHdOUYx4WZPCI3vOJ7tXqNktvUKboTW6E4zjnGYtNZ9hjkzud5vc/gXNnxW5bAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFqtPG2uVcu0lj5Xyvsc+XjnJi419qzq5vcY0emjVXGuPaK7+sn7szh4s8WJjP0b1dXupjqkAj1FyrhKcu0Vn7/BlvS+PF3qZhpr42QU49mv2fsJezkxcauakNQAAItPqa7N2ySkoycJNe6OfHy45O/be+r0rWbnylOiQAAAAAAEWqqdlc61OdbnCcFZW8Trysbov3XcMrlvw96L1PSw1Muo6y/UWTucKY2XO2EaYNpWrLeHPOceiUc8l8mpfDnx51O+664h1AAADzdVdqlqYQrjGVUoJy3Re2PLz9S9e3B4eXk9ROeZxO82ff1+fl2znjuLdeXpHucQDjPxJ8U6/ptMZ6TQ+epJ7tTPdOmiWeIyhB7ufdtLld3wdOPE15rnybufEdmc3QAAAAADWyuMliUVJd8NZRjc6ub3L0V1xisRiorviKSQNaur3b22NYAa2QUouL7STi8Nrh/KJ1malzfsl6vatoOn10bvL3JSw2pPKWPb9zjwemxwd+z7Xvk1vytnoQAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAVuo6eVle2LxLdFpttYwydTuO3ByTG+9eEunrcYKMpubXeUu7NiOTU1q2TpIagAMwVen9Qqvi3B8r80ZcSXz9jh6f1PHzzvH9PtfJx6xflaPQgAIAAAAAAEepg5VzivzOMkucc4MvhfHZNS38otBTZCGLJ75fvt+M+pkl+18+8a13idRZKcQA2uOVz2+TOwNAAAAAAAEWo1VdePMnGG54W54TOfJy44/+96VnOteI3hOMkpRalF8pp5TX3KzqancvcTZZ8VsUAAAAASWU0+zWGZZ38CDS6SqpYrrjD3aXL+77nPi4OPinWJ0rW9a81OdUgADWyajFyabUU5NRTk3hZ4S7sDwPDHjLQ9TnbDSu6TpjGVjsplXFbm0ll+vD4+CtYufKM7mvDoSVgAAAAAAKHVunu/y0p7FCTk2k93b0+Tx+r9Nef2yXrq/5068XJ7O/hdrjtio7nLCS3S5lL5fyerM6knfblb3e2xQAcf40q67LWaGXS9saqldPUSutjHT2NuKVdkfzNYUuyeM+jLx7er7nPc13OnXwzhZwpYWUnlJ/DIdGQAFbqGihfBQnnCkpJrvx/wAZRw9R6fPPn26/K+PkuL3E8IKKUUkopJJLskvQ7ZzMzqeEW9/NbGgAAAAAAAAAAAKPS+j6XSu+WnpjU9RdLUX7c/XY0svnsvhccs223yySTwvGNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPC8LeLNF1ONj003vqnKFlVmFZFZaU8JvMZYyn+nfgrWLnyjO5rw90lYAAAAAAAAAAAAAAAAAAAHG+Ooded2lXTrVDS2W006ny6oPUU7p4drc8rZtfok1j1zxePb9ue/d8dOzIdGAAAAAAAAMTimnF9mmn9mB5vRfD2g0MXHSaWmjKUZShH/ABJpekpv6n+rNurfKZmTw9MxQAAAAAAAAAAAAAAAAAAAAAAAAEBU0vUqLZOFc90km2nCccJceqPNxer4uXXtxfn+V/vHTXFrM7sWz0uYAAAAAAAAAAAAEWrc1VY68eYq5uvKyt+HjK++BGVzP4e9d6lrtM7tbo46dYj5Vsd0P4jvl+VLlJcc55zwXyZkvwjj1rU+Y6sh0AAAAAAAAAAAAAAEBBp9HXXKycY4lZLdN/6L47v9Tjx8GOPWtZnzfKtbupJfpOdktZ2RjjdJLL2rLSy/ZfJN1J5pJa2KAAAAAAMSWU1nHHdd18mXwPP6Xpb652u2yVmdqrbllNcvOPT0PH6Xh5ca1eTXf4/19O3LvOpPbOnontcQAAAAAPO6tr7KnUq65WOUm5qMXJ7V6LHrz/Q8Xq/Ub4rmYz335+O/h24uOa77vT0ISyk8NZSeGsNfDR7Je524smgBR1190ZwUK5ShlObS3ZXsRbfp6eHj49Zvuvz9LxbzAADWNkW2k03F4kl6P5Mbc2SW/bY1gAQAABS6r0/+IhGDnsUZqbwstrDWF+55fVem/wCRmZt66vbpxcn6d7WqKlCEYJyaiksyeZP7s74x7MzM+vyi3u9ty2AHK/iHZ1paRR6TXGVkt3nWKUf4iuPGPKjLht885yscLnKvHt7/AHOe/d1+10egnOVFUrIuFkqq5WRfeM3FNxfynkirnhOGgAAAAAAAAAAAAAAAAAAp6TQKqcpqc5OS+pSxy85z2/7kmZ6d+X1F5MzNk+FwpwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAH/9k=');

}

.left{
    float: left;
    width: calc((100% - 10px) / 2);
}
.right{
    float: right;
    width: calc((100% - 10px) / 2);
}
.top_left{
    height: 160px;
    border: 5px dotted #DAE5D0;
    border-radius:100px;
    margin: 10px 5px;
    text-align: center;
    vertical-align:middle;
    background-color: #FEFBE7;}
.bottom_left{
    height: 160px;
    border: 5px dotted #DAE5D0;
    border-radius:100px;
    margin: 10px 5px;
    text-align: center;
    background-color: #FEFBE7;}
.top_right{
    height: 160px;
    border: 5px dotted #DAE5D0;
    border-radius:100px;
    margin: 10px 5px;
    text-align: center;
    background-color: #FEFBE7;

}
.bottom_right{
    height: 160px;
    border: 5px dotted #DAE5D0;
    border-radius:100px;
    margin: 10px 5px;
    text-align: center;
    background-color: #FEFBE7;

}

p{
    padding-top:40px;
    font-family: 'Gaegu', cursive;
    font-size: 20px;

}